<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Chat Messages</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <h1><center>Chat Room</center></h1>

    <div id="wrapper">

        <div id="timestamps" class="box">
            <div class="timestamp" th:each="msg : ${messages}" th:text="${msg.getTimeStampAsString()}"></div>
        </div>

        <div id="users" class="box">
            <div class="user" th:each="msg : ${messages}" th:text="${msg.sender.nickname}"></div>
        </div>

        <div id="messageBodies" class="box">
            <div class="msg" th:each="msg : ${messages}" th:text="${msg.message}"></div>
        </div>

        <div id="actions" class="box">
            <div th:each="msg : ${messages}">
                <form action="#" th:action="@{/msgDelete}" method="post">
                    <input class="delete" type="text" name="msgId" th:value="${msg.messageId}">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>

    </div>

    <div class="msgSend">
        <form action="#" th:action="@{channel}" method="post">
            <p>Messsage: <input width="80%" type="text" name="msg"> <input type="submit" value="Send"></p>
        </form>
    </div>
</body>
</html>