<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Chat Messages</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<h1>
    <center th:text="${channelTitle}"></center>
</h1>

<div id="wrapper">

    <div id="channels">
        <form action="#" th:action="@{/newChannel}" method="get">
            <input type="submit" value="Create New Channel">
        </form>

        <div class="channel" th:each="channel : ${channels}">
            <div class="channelTitle" th:text="${channel.title}"></div>
            <div class="actions">

                <form action="#" th:action="@{/switchChannel}" method="get">
                    <input class="hidden" type="text" name="channelId" th:value="${channel.id}">
                    <input type="submit" value="Switch">
                </form>

                <form action="#" th:action="@{/renameChannel}" method="get">
                    <input class="hidden" type="text" name="channelId" th:value="${channel.id}">
                    <input class="hidden" type="text" name="channelName" th:value="${channel.title}">
                    <input type="submit" value="Rename">
                </form>

                <form action="#" th:action="@{/deleteChannel}" method="get">
                    <input class="hidden" type="text" name="channelId" th:value="${channel.id}">
                    <input type="submit" value="Delete">
                </form>

            </div>
        </div>
    </div>

    <div id="messages">
        <div class="message" th:each="msg : ${messages}">
            <div class="timestamp" th:text="${msg.getTimeStampAsString()}"></div>
            <div class="user" th:text="${msg.sender.nickname}"></div>
            <div class="msg" th:text="${msg.message}"></div>
            <div class="edit">

                <form action="#" th:action="@{/msgEditForm}" method="post">
                    <input class="hidden" type="text" name="msg" th:value="${msg.message}">
                    <input class="hidden" type="text" name="msgId" th:value="${msg.messageId}">
                    <input type="submit" value="Edit">
                </form>

            </div>
            <div class="delete">

                <form action="#" th:action="@{/msgDelete}" method="post">
                    <input class="hidden" type="text" name="msgId" th:value="${msg.messageId}">
                    <input type="submit" value="Delete">
                </form>

            </div>
        </div>
    </div>

</div>

<div class="msgSend">
    <form action="#" th:action="@{channel}" method="post">
        <p>Messsage: <input class="wideField" type="text" name="msg"> <input type="submit" value="Send"></p>
    </form>
</div>
</body>
</html>