<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Create Channel</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<form action="#" th:action="@{/channels/create}" method="post">
    <p>Create Channel: <input class="wideField" type="text" name="channelName"> <input type="submit" value="Create"></p>
</form>
</body>
</html>