<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Rename Channel</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{/channels/{channel_id}/edit(channel_id=${channel.id})}" method="post">
    <p>Rename Channel: <input class="wideField" type="text" name="channelName" th:value="${channel.title}"> <input type="submit" value="Rename"></p>
</form>
</body>
</html>